<p>
    {% if user.is_authenticated %}
        <a href="{% url 'ledgered_app:index' %}">Home</a> -
        <a href="{% url 'ledgered_app:upload' %}">Upload</a> -
        <a href="{% url 'ledgered_app:ledger' %}">Ledger</a> -
        <a href="{% url 'ledgered_app:reports' %}">Reports</a> -
        <a href="{% url 'ledgered_app:manage' %}">Manage</a> -
        <a href="{% url 'ledgered_app:seed' %}">Seed</a> -
        <a>DEBUG</a> -
        <a href="{% url 'ledgered_app:list_categories' %}">Categories</a> -
        <a href="{% url 'ledgered_app:list_descriptions' %}">Descriptions</a> -
        <a href="{% url 'ledgered_app:list_transactions' %}">Transactions</a> -
        <a href="{% url 'ledgered_app:list_accounts' %}">Accounts</a> -
        <a href="{% url 'ledgered_app:delete_all' %}">Nuke</a>
        <hr />
        Hello, {{ user.username }} -
        <a href="{% url 'accounts:logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">Log in</a> -
        <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}