<p>
    <a href="{% url 'ledgered_app:index' %}">Home</a> -
    <a href="{% url 'ledgered_app:upload' %}">Upload</a> -
    <a href="{% url 'ledgered_app:ledger' %}">Ledger</a> -
    <a href="{% url 'ledgered_app:reports' %}">Reports</a> -
    <a href="{% url 'ledgered_app:manage' %}">Manage</a> -
    <a href="{% url 'ledgered_app:seeder' %}">Seeder</a> -
    <a href="{% url 'ledgered_app:print_categories' %}">DEBUG print_categories</a> - 
    <a href="{% url 'ledgered_app:print_descriptions' %}">DEBUG print_descriptions</a> - 
    <a href="{% url 'ledgered_app:print_entries' %}">DEBUG print_entries</a> - 
</p>

{% block content %}{% endblock content %}