{% extends "ledgered_app/base.html" %}

{% block content %}

    <h2>Remaining Transactions: {{ num_uncategorized }}</h2>
    <form action="{% url 'ledgered_app:ledger_queue' %}" method='post'>
        {% csrf_token %}
        {{ trxn_form.as_p }}
        <button name="submit_transaction">Save and Continue</button>
    </form>

    <h2>Add New Description Rule</h2>
    <form action="{% url 'ledgered_app:ledger_queue' %}" method='post'>
        {% csrf_token %}
        {{ dscr_form.as_p }}
        <button name="submit_description">Add New Description Rule</button>
    </form>

    <a href="{% url 'ledgered_app:ledger' %}">Exit</a>

{% endblock content %}