{% extends "ledgered_app/base.html" %}

{% block content %}

<table>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Original Description</th>
      <th>Pretty Description</th>
      <th>Category</th>
      <th>Subcategory</th>
    </tr>
    {% for d in transactions %}
    <tr>
        <td><b>|| </b>{{ d.date }} </td>
        <td><b>|| </b>{{ d.type }} </td>
        <td><b>|| </b>{{ d.amount }} </td>
        <td><b>|| </b>{{ d.account }} </td>
        <td><b>|| </b>{{ d.original_description }} </td>
        <td><b>|| </b>{{ d.pretty_description }} </td>
        <td><b>|| </b>{{ d.category }} </td>
        <td><b>|| </b>{{ d.subcategory }} </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}