{% extends "ledgered_app/base.html" %}

{% block content %}

<h1>Seed Status</h1>

<p>Descriptions: {{ status_descriptions }}</p>
<p>Categories: {{ status_categories }}</p>
<p>Transactions: {{ status_transactions }}</p>
<p>Num Seed Requests: {{ status_num_seeds }}</p>

<h1>Seed Request</h1>

<form action="{% url 'ledgered_app:seeder' %}" method='post'>
    {% csrf_token %}

    {{ form.name }}
    <p>{{ form.descriptions_filename.name }}</p>
    <select name="{{ form.descriptions_filename.name }}">
    {% for option in descriptions %}
      <option value="{{ option.1 }}">{{ option.0 }}</option>
    {% endfor %}
    </select>

    <p>{{ form.categories_filename.name }}</p>
    <select name="{{ form.categories_filename.name }}">
    {% for option in categories %}
      <option value="{{ option.1 }}">{{ option.0 }}</option>
    {% endfor %}
    </select>

    <p>{{ form.transactions_filename.name }}</p>
    <select name="{{ form.transactions_filename.name }}">
    {% for option in transactions %}
      <option value="{{ option.1 }}">{{ option.0 }}</option>
    {% endfor %}
    </select>

    <button name="submit">Seed</button>
</form>
{% endblock content %}