{% extends "ledgered_app/base.html" %}

{% block content %}
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple_table.css' %}">
</head>
<body>
    <h1>Transactions</h1>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Account</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Original Description</th>
          <th>Pretty Description</th>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        {% for t in object_list %}
          <tr>
            <td>{{ t.date }}</td>
            <td>{{ t.account }}</td>
            <td>{{ t.type }}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.original_description }}</td>
            <td>{{ t.pretty_description }}</td>
            <td>{{ t.category }}</td>
            <td>{{ t.subcategory }}</td>
            <td>{{ t.owner }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="7">No Transactions</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>
{% endblock content %}